<h1>Edit mirror</h1>
 
<%= form_with(model: @mirror) do |form| %>
 
  <% if @mirror.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@mirror.errors.count, "error") %> prohibited
        this mirror from being saved:
      </h2>
      <ul>
        <% @mirror.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :codename %><br>
    <%= form.text_field :codename %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
<!--asdf-->
 
<%= link_to 'Back', mirrors_path %>